.mainbody 
	width 1200px
	margin 20px auto 35px
	overflow hidden
.mainbody .title 
	width 1200px
	height 60px
	line-height 40px
	border-bottom 1px solid #222
.mainbody .title span 
	width 5px 
	height 44px
	background #3aa3f3
	display block
	margin 0 5px 0 20px
.mainbody .title h2 
	font-size 28px
	color #222	
.mainbody .title h2,
.mainbody .title span 
	float left
.mainbody .title p 
	float right
	font-size 16px
	font-weight 600
	margin-top 15px
	
.mainbody .con_wrap h2 
	font-size 24px 
	font-weight 500 
	text-align center
	margin-top 15px
	color #222
.mainbody .con_wrap span 
	display block 
	text-align center 
	font-size 12px 
	color #333	
.mainbody .con_wrap p 
	width 1160px
	line-height 30px
	font-size 14px 
	color #333
	text-indent 2em	
	margin 0 auto
.mainbody .con_wrap p.font 
	font-weight 900
	margin 10px 0
.mainbody .con_wrap .left,
.mainbody .con_wrap .right,
.mainbody .con_wrap img
	width 533px 
	height 291px
	margin 25px 0
	display inline-block
.mainbody .con_wrap .left 
	margin-right 55px
	margin-left -40px
.mainbody .con_wrap a 
	font-size 14px 
.mainbody .con_wrap a.fl_txt,
.mainbody .con_wrap a.fr_txt
	margin-top 20px 
.mainbody .con_wrap a.fl_txt 
	float left 
	margin-left 20px	
.mainbody .con_wrap a.fr_txt 
	float right 
	margin-right 30px
.mainbody .con_wrap a.fl_txt:hover,
.mainbody .con_wrap a.fr_txt:hover 
	color blue






