// 头部样式
.top 
	width 1200px
	height 125px 
	margin 0 auto 
.top .title 
	width 389px 
	height 100px
	float left 
	margin 13px 0 12px 
.top .title a 
	width 116px 
	height 100px 
	float left
	display block 
	margin-right 20px
.top .title a img 
	width 100% 
	height 100% 
.top .title h2 
	font-size 23px 
	margin-top 40px
	font-weight 400
.top .title span 
	display block 
	font-size 15px	
	
.top form 
	width 280px 
	float right
	margin-top 70px
	height 32px
	border 1px solid #222	
.top form input 
	width 214px
	line-height 20px
	height 20px
	padding 6px 0
	font-size 16px
	float left
	border none
	text-indent 8px
.top form button 
	background #f06e00 
	height 32px
	line-height 32px 
	width 66px 
	float left
	border none
	border-left 2px solid #09f
.top form button img 
	width 22px 
	height 22px
	display block
	margin 0 auto
	
// 导航栏样式
.wrap 
	width 100%
	position relative
	height 55px
.header 
	background url(../images/nav_02.jpg) no-repeat 0 0 
	width 1920px
	position absolute
	left 50%
	margin-left -960px
.header .nav 
	width 1200px 
	height 55px
	margin 0 auto 
.header .nav li 
	float left
.header .nav li a 
	display block
	width 240px
	height 55px 
	line-height 55px 
	color #fff	
	text-align center
.header .nav li.on,
.header .nav li a:hover 
	background #f06e00		
	

//banner样式
.pic_wrap 
	position relative
	height 500px
.pic_wrap a 
	position absolute
	left 50%
	margin-left -960px
	width 1920px
	height 500px
	display block	

//底部样式
.footer 
	width 100%
	position relative
.footer .bgImg 
	width 1920px
	height 190px 
	position absolute
	left 50%
	margin-left -960px
	background url(../images/footer_02.jpg) no-repeat 0 0
	text-align center
.footer ul 
	width 620px
	margin 0 auto
	overflow hidden
.footer li 
	height 50px 
	line-height 50px 
	float left
.footer li span
	margin 0 34px
.footer li a,
.footer li span 
	color #fff
	font-size 16px
.footer .bgImg > span
	width 100%
	height 1px
	display block
	border-bottom 1px solid #fff
.footer p 
	color #fff
	font-size 16px
	margin-top 29px
